html{
    background-color: rgb(255, 255, 255);
}
h1{
    /* margin-top: 30px; */
    padding-bottom: 5%;
}
img{
    height: 320px;
    width: 450px;
    display: flex;
    float: left;
}

.content {
    display: flex;  
    flex-flow: row;
    font-weight: bold;
    text-align: center; 
    margin-left: 15%;
    margin-right: 15%;
    
  }
  
.content > * {
    padding: 10px;
    flex: 1 100%
  }
 
.card {
    flex-direction: column;
    display: flex;
    text-align: left; 
    align-items: center;    
  }
  
.card .img{
    order: 2;
}
.card footer{
    order: 4;
}
.card h1{
    order: 1;
}
.wanna{
    display: flex;
    align-items: center;
    flex-direction: row;
  
    
}
/*  */

.leftHref{
    display: flex;
    flex-direction: column;
    
    justify-content: space-evenly;
    position: fixed;
    height: 100vh;
    z-index: 1;
    max-width: 15%;
    font-size: 30pt;
    bottom: 0px;
    color: blanchedalmond;
    /* align-items: center; */
    border-right: 5px solid black;


}
.leftHref a, .rightHref a{
    text-decoration: none;
    color: black;
}

.rightHref{
    display: flex;
    flex-direction: column;
    right: 0px;
    justify-content: space-evenly;
    position: fixed;
    height: 100vh;
    z-index: 1;
    max-width: 15%;
    font-size: 30pt;
    bottom: 0px;
    color: blanchedalmond;
    /* align-items: center; */
    border-left: 5px solid black;
    


}



/* .right a{
    position: fixed;
    z-index: 1;
    color: blanchedalmond;
} */
/* @media {
    
} */