.authForm {
    text-align: center;
    /* background-color: black;  */
}
.content {
    margin-top: 17.5%;    
    border: 2px double white;
    /* background:; */
    padding: 1px;
    max-width:min-content;
    margin-left: 40%;
    margin-right: 40%;

}